
header, footer{
    text-align: center;
    border: 1px solid black;
}

.bordered{
    border: 1px solid black;
}

/*with float*/
/* .titles-containers{
    float: left;
}


.article{
    float: right;
    width: 80%;
    margin: 20px;
    margin-top: 100px;
    padding: 20px;
} 

.clearfix {
    overflow: auto;
} 
 
.title-tile {
    background-color: blue;
    color: white;
    text-align: center;
    width: 100%;
    margin: 20px;
    padding: 20px;
} 

.titles-containers{
    float: left;
} */



/*With flex*/
.articles-container {
    display: flex;
    align-items: center;
}

.article {
    width: 100%;
}

.title-tile {
    background-color: blue;
    color: white;
    text-align: center;
    min-width: 300px;
    margin: 20px;
    padding: 20px;
}

